<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <div *ngIf="errorMessage" class="alert alert-danger fade in">
        <ul>
            <li *ngIf="errorMessage.email">{{errorMessage.email}}</li>
            <li *ngIf="errorMessage.password">{{errorMessage.password}}</li>
            <li *ngIf="errorMessage.message">{{errorMessage.message}}</li>
        </ul>
    </div>
    <form [formGroup]="loginForm" name="form" (ngSubmit)="login()">
        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="text" class="form-control" >
            <p style="color:red" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">Required</p>
            <p style="color:red" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">Email is not valid</p>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" type="password" class="form-control">
            <p style="color:red" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">Required</p>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Login</button>
            <a [routerLink]="['/registration']" class="btn btn-link">Register</a>
        </div>
    </form>
</div>
