<div *ngIf="card">
  <div *ngIf="errorMessageforUpdate" class="alert alert-danger fade in">
    <ul>
        <li *ngIf="errorMessageforUpdate.title">{{errorMessageforUpdate.title}}</li>
        <li *ngIf="errorMessageforUpdate.content">{{errorMessageforUpdate.content}}</li>
        <li *ngIf="errorMessageforUpdate.category_id">{{errorMessageforUpdate.category_id}}</li>
    </ul>
  </div>
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
  			<h2>{{card.title}} details!</h2>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-3 col-md-offset-1">
    		<label>Title: </label>
    		<input class="form-control" [(ngModel)]="card.title">
   		</div>
   	</div>
   	<div class="row">
  		<div class="col-md-3 col-md-offset-1">
	    	<label>Content: </label>
	    	<input class="form-control" [(ngModel)]="card.content">
	    </div>
   	</div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <label>Type: </label>
        <select class="form-control" [(ngModel)]="categoryname">
            <option *ngFor="let category of categories" [value]="category.name">  
            {{category.name}}
            </option>
        </select>
      </div>
    </div>
   	<div class="row">
  		<div class="col-md-3 col-md-offset-2">
  			<button class="btn btn-primary" (click)="save()">Save</button>
  		</div>
  	</div>
</div>
