<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <div *ngIf="errorMessage" class="alert alert-danger fade in">
        <ul>
            <li *ngIf="errorMessage.name">{{errorMessage.name}}</li>
            <li *ngIf="errorMessage.email">{{errorMessage.email}}</li>
            <li *ngIf="errorMessage.password">{{errorMessage.password}}</li>
            <li *ngIf="errorMessage.password_confirmation">{{errorMessage.password_confirmation}}</li>
        </ul>
    </div>
    <form [formGroup]="registerForm" name="form" (ngSubmit)="register()">
    <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" class="form-control">
            <control-messages [control]="registerForm.controls.name"></control-messages>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="text" class="form-control">
            <control-messages [control]="registerForm.controls.email"></control-messages>
            <p style="color:red" *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.email">Email is not valid</p>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" type="password" class="form-control">
            <control-messages [control]="registerForm.controls.password"></control-messages>
        </div>
        <div class="form-group">
            <label for="password_confirmation"> Confirm Password</label>
            <input type="password" formControlName="password_confirmation" class="form-control">
            <control-messages [control]="registerForm.controls.password_confirmation"></control-messages>
            <p style="color:red" *ngIf="registerForm.controls.password_confirmation.touched && registerForm.controls.password_confirmation.errors?.equalTo">Password confirmation doesn't match Password</p>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Register</button>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
